<div class="container">
  <div class="col-md-4">
      <input #searchClient (keyup)="0" type="text" class="form-control" placeholder="Procurar cliente">
  </div>
  <table class="table table-bordered table-inverse">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Genero</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>Telefone</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients | filterClient: searchClient.value">
        <td>{{client._id}}</td>
        <td>{{client.nome}}</td>
        <td>{{client.genero}}</td>
        <td>{{client.cpf}}</td>
        <td>{{client.ddn}}</td>
        <td>{{client.telefone}}</td>
      </tr>
    </tbody>
  </table>
</div>
