<div class="container">

  <p *ngIf="message.length" class="alert alert-info">{{message}}</p>

  <div class="col-md-4">
    <input #searchClient (keyup)="0" type="text" class="form-control" placeholder="Procurar cliente pelo seu CPF ou NOME">
  </div>
  
  <table class="table table-bordered table-inverse" style="box-shadow: 2px 2px 15px;">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Genero</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>Telefone</th> 
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr #trClient *ngFor="let client of clients | filterClient: searchClient.value">
        <td>{{client.nome}}</td>
        <td>{{client.genero}}</td>
        <td>{{client.cpf}}</td>
        <td>{{client.ddn}}</td>
        <td>{{client.telefone}}</td>
        <a [routerLink]="['/cadastro', client._id ]" class="btn btn-primary glyphicon glyphicon-edit" style="margin-left:25px; margin-top: 5px"></a>
        <button type="button" class="btn btn-danger" style="margin-left:15px; margin-top: 5px; margin-right:-40px" (click)="remove(client, trClient)">
              <span class="glyphicon glyphicon-trash"></span>
        </button> 
      </tr>
    </tbody>
  </table>
</div>
